/* CSS reset belinkelve a html head elemébe */

* {
  box-sizing: border-box;
}

/* A footerek ("láblécek") is gyakori weblapkomponensek. A <footer> tag reprezentálja ezeket, és tipikusan a következőket tartalmazzák:

szerzői és jogvédelmi információ,
kapcsolattartói információ,
navigációs linkek és gyakran egy "vissza a tetejére" ("back to top") link,
kapcsolódó dokumentumok és források.
Több <footer> elemet is használhatsz az oldalon. Az egész dokumentumnak, vagy akár egyes részeknek is lehet saját footere. Például egy blogon használhatod a <footer> taget minden bejegyzés alján, és az oldal alján is.

Ebben a leckében nem egyes részeknek, hanem teljes oldalaknak fogunk footereket építeni.

hozzáadom a footert, majd a a .wrapper divet, mert tudom, hogy most is a táblázatos megjelenítést fogom alkalmazni a vertikális középre rendezéshez.

A szerzői jogi információt egy small elembe teszem, mert apró betűs résznek ("small print") számít szemantikailag.

Végül egy nav elemet adok még hozzá, három linkkel*/

/*
CSS 1.
Mint mindig, most is a következő lépéseken haladunk végig a formázás során:

Pozicionáljuk a footert és a tartalmát.
Hozzáadjuk az alap tipografikus stílusokat.
Befejezzük a speciális állapotok kezelésével.
Lássunk is neki.

Az elemek pozicionálása
Hogy könnyebben követhetővé váljanak a módosítások, egy egyszerű sárga hátteret adok a footernek:

A footer olyan vékony vagy vastag lehet, amilyet csak szeretnénk (vagy amilyet a tartalom kíván). Jelen esetben legyen mondjuk egy közepes méretű:

Igazítsuk középre a tartalmat horizontálisan:

Aztán vertikálisan:

Remek! Végső lépésként a hátteret cseréljük le egy visszafogott mintás háttérre, és növeljük meg a tartalom körüli padding méretét: */

footer {
  background: url('https://orange.codeberryschool.com/content/images/project-assets/simple-footer.png') repeat center;
  display: table;
  width: 100vw;
  height: 8rem;
  text-align: center;
  padding: 1rem;
  font-family: 'Arial', sans-serif;
  font-size: .875rem;
}

.wrapper {
  display: table-cell;
  vertical-align: middle;
} 

/* CSS 2.
Tipográfia
Először is változtassuk meg a font-family és a font-size értékét a teljes footerre vonatkozóan */
/* Szuper, kivéve, hogy igazából ezen a háttéren nem látszik a fekete színű, apró betűs rész. Itt az ideje megváltoztatni a szöveg színét (és eltávolítani az alapértelmezett díszítőelemeket a linkekről)

Alakulnak a dolgok, csak még minden egy kicsit zsúfolt. Egy kis margó, és a betűköz méretének változtatása megoldja ezt.

+1 tipp: A display értékekre azért van szükség, mert a small és az a elemek alapértelmezetten inline elemek, és ezért nem érvényesek rájuk egyes box-model értékek, mint a margó.*/

footer small {
  color: #ccc;
  letter-spacing: .025rem;
  margin-bottom: 1.5rem;
  display: block;
}

.footer-nav a {
  text-decoration: none;
  color: #c74f78;
  margin: 0 .5rem;
  display: inline-block;
}

/* végső simítások */

.footer-nav a:hover {
  color: #f26896;
  transition: color .15s ease-in-out;
}

/* Azt is észrevehetted, hogy a <strong> tagben lévő szöveg nem félkövér. A CSS reset ezt is kinullázta nekünk. Kézzel kell visszaállítanunk az elem eredeti formázását. Másold az alábbi szabályt az általános kiválasztóval a kódodba */

strong {
  font-weight: 700;
}

