body {
  background-color: lightgray;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
}

/* Ahogy az várható volt, a szöveg a kép alatt helyezkedik el, mert mindkettő blokkszintű elem, és a normál sorrend szerint ezért egymás alatt, új sorban kezdődnek, amelyet teljesen kitöltenek.

A float arra lett kitalálva, hogy ezt megváltoztassuk. A segítségével elemeket (főként képeket) eltávolíthatunk a normál sorrendből, majd a többi elemmel (pl. szöveggel) "körülfolyathatjuk".

Floatold a képet jobbra és adj neki egy kis margint: */

img {
  float: left;
  margin: 10px;
}

